h1 {
  font-family:Courier New;
  color: white;
  font-size:400px;
  text-align: left;
}
header{
background-color: rgb(10, 10, 10)
}
.circle-image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.circle-image img{
  width:100%;
  height:100%;
  object-fit:
}
.ttt {
  color: white;
  font-family:Courier New;
  font-size:30px;
  text-align: left;
}
.puk {
  width: 100px;
  height: 100px;
}
.blog{
  max-width:2000px;
  max-height: 410px;
  margin:0 auto;
  display:block;
  text-align:left;
  position:relative;
  border:5px solid Black;
}
.blog img{
  max-width:500px;
  width: 300px;
  height: 400px;
  text-align:left;

}
.blog .text{
  opacity:0;
  position:absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%, 0);
  transition: 0.5s;
  width:98%;
  font-size:33px;
  background-color:rgba(0, 0, 0, 0.8);
  border-top:5px solid Black;
  padding:10px 5px;
  color:#fff;
  text-align:right;
}
.blog:hover .text{
  opacity:1;
  text-align: right;
}
.blog{
  text-align: left;
}
.mk {
  font-family:Courier New;
}
.e {
  color: blue
}
header {
  position: relative;
}


header svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height:300%

}
header svg path {
  fill: #fff;
}
.zag {
  font-family:Courier New;
  font-size: 110px
}
.inf {
  font-family:Courier New;
  font-size: 55px
}
.banner__content1 {
  transform: rotate(10deg);
}
body {
  background-color: white
}
p {
    text-indent: 20px;
   }
   .slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideOutUp {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    }
    }
    @keyframes slideOutUp {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    }
    }
  
